{% extends 'base.html'%}
{% load bootstrap %}
{% block 'titulo'%} Editar Item  {% endblock %}
{% block 'menu' %} 
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo'%} 
<div class="text-center">

    {% if status == '99' %}
    <div class="alert alert-danger" role="alert">
       Erro de Cadastro
      </div>
    {% endif %}
    <h1>Editar Item</h1>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md'>
            <form method="POST" enctype="multipart/form-data">
 
                <!-- Security token -->
                {% csrf_token %}
             
                <!-- Using the formset -->
                {{ form|bootstrap }}
                {% if item.foto1 %}
                <p>Imagem atual: <img src="{{ item.foto1.url }}" alt="Foto atual" width="150"></p>
        
                <!-- Checkbox para apagar a foto -->

                {% endif %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="{% url 'listar_materiais' %}" class="btn btn-secondary">Cancelar</a>
            </form> 
        </div>
        <div class='col-md-2'></div>
    </div>
</div>
{% endblock %}