{% extends 'base.html'%}
{% load bootstrap %}
{% block 'titulo'%} Listar Localizações {% endblock %}
{% block 'menu' %} 
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo'%} 
<style>
    .item-image {
        width: 120px;
        max-height: 150px;
        object-fit: contain;
    }
    .icon-large {
        font-size: 1.5em; /* Ajuste este valor conforme necessário */
    }
    .icon-black {
        color: black;
    }
    .icon-red {
        color: red;
    }
</style>
<div class="text-center">
    <h1>Listar Localizações</h1>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-md-3'></div>
        
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Superintendencia</th>
                        <th>Cidade</th>
                        <th>Gerencia</th>
                        <th>Endereço</th>
                        <th>obs</th>
                        <th>Em atividade</th>
                        <th>Editar</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for local in page_obj %}
                    <tr>
                        <td>{{ local.superintendencia }}</td>
                        <td>{{ local.cidade }}</td>
                        <td>{{ local.gerencia }}</td>
                        <td>{{ local.endereco }}                        </td>
                        <td>{{ local.obs }}</td>
                        {% if local.ativo %} 
                        <td> Local em Uso</td>
                        {% else %}
                        <td>Local dasativado </td>
                        {% endif %}
                        <td><a href="{% url 'editar_local' local.id %}"<i class="bi bi-pencil icon-large icon-black"></i></a></td>
                        <td><a href="{% url 'apagar_local' local.id %}"<i class="bi bi-trash icon-large icon-red"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class='col-md-3'></div>
    </div>
</div>
{% endblock %}