{% extends 'base.html'%}
{% load bootstrap %}
{% block 'titulo'%} Cadastro Item  {% endblock %}
{% block 'menu' %} 
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo'%} 
<style>
    .item-image {
        width: 200px;
        max-height: 200px;
        object-fit: contain;
    }
</style>
<div class="text-center">
    <h1>Cadastro Item</h1>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-md-3'></div>
        
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>RGP</th>
                        <th>Nome</th>
                        <th>Localização</th>
                        <th>Foto</th>
                        <th>Estado</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materiais %}
                    <tr>
                        <td>{{ material.RGP }}</td>
                        <td>{{ material.nome }}</td>
                        <td>{{ material.localizacao }}</td>
                        <td>
                            {% if material.foto1 %}
                            <img src="{{ material.foto1.url }}" alt="Foto 1 do Item" class="item-image">
                            {% else %}
                                Sem foto
                            {% endif %}
                        </td>
                        <td>{{ material.estado }}</td>
                        <td>{{ material.valor }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        <div class='col-md-3'></div>
    </div>
</div>
{% endblock %}