{% extends 'base.html'%}
{% load bootstrap %}
{% block 'titulo'%} Listar Materiais  {% endblock %}
{% block 'menu' %} 
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo'%} 
<style>
    .item-image {
        width: 200px;
        max-height: 120px;
        object-fit: contain;
    }
    .action-icon {
        font-size: 24px;
    }
    .fixed-header {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 100;
    }
    .scrollable-table {
        max-height: 500px; /* Ajuste conforme necessário */
        overflow-y: auto;
    }
</style>
<div class="text-center">
    <h1>Listar Materiais</h1>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-8'>
            <form method="GET" action="{% url 'listar_materiais' %}">
                
                <div class="input-group mb-3">
                    <select name="gerencia" class="form-control">
                        <option value="">Todas as Gerências</option>
                        {% for gerencia in gerencias %}
                            <option value="{{ gerencia }}" {% if selected_gerencia == gerencia|stringformat:"s" %} selected {% endif %}>{{ gerencia }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="q" class="form-control" placeholder="Buscar por nome, localização ou RGP" value="{{ query|default_if_none:'' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class='row mb-3'>
            <div class='col-md-12 text-right'>
                <a href="?export=pdf&q={{ query|default_if_none:'' }}" class="btn btn-danger">Exportar PDF</a>
                <a href="?export=xlsx&q={{ query|default_if_none:'' }}" class="btn btn-success">Exportar XLSX</a>
            </div>
        </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class="scrollable-table-responsive">
                <table class="table table-bordered">
                    <thead class="fixed-header">
                        <tr>
                            <th>RGP</th>
                            <th>Nome</th>
                            <th>Localização</th>
                            <th>Foto</th>
                            <th>Estado</th>
                            <th>Valor</th>
                            <th>Desfazimento?</th>
                            <th>em Uso?</th>
                            <th>Colocar à disposição</th>
                            <th>Editar</th>
                            <th>Apagar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material in page_obj %}
                        <tr id="material-{{ material.id }}">
                            <td>{{ material.RGP }}</td>
                            <td>{{ material.nome }}</td>
                            <td>{{ material.localizacao }}</td>
                            <td>
                                {% if material.foto1 %}
                                <img src="{{ material.foto1.url }}" alt="Foto 1 do Item" class="item-image">
                                {% else %}
                                    Sem foto
                                {% endif %}
                            </td>
                            <td>{{ material.estado }}</td>
                            <td>{{ material.valor }}</td>
                            <td id="desfazimento-{{ material.id }}">
                                {% if material.descartado %}
                                    <i class="bi bi-check2 action-icon green"></i>
                                {% else %}
                                    <i class="bi bi-x action-icon text-danger"></i>
                                {% endif %}
                            </td>
                            <td id="ativo-{{ material.id }}">
                                {% if material.ativo %}
                                    <i class="bi bi-check2 action-icon green"></i>
                                {% else %}
                                    <i class="bi bi-x action-icon text-danger"></i>
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn" onclick="disponibilizarItem({{ material.id }})"><i class="bi bi-send action-icon"></i></button>
                            </td>
                            <td><a href="{% url 'editar_item' material.id %}"><i class="bi bi-pencil action-icon text-dark"></i></a></td>
                            <td><a href="{% url 'apagar_item' material.id %}"><i class="bi bi-trash action-icon text-danger"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}&gerencia={{ selected_gerencia|default_if_none:'' }}" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}&gerencia={{ selected_gerencia|default_if_none:'' }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}&gerencia={{ selected_gerencia|default_if_none:'' }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}&gerencia={{ selected_gerencia|default_if_none:'' }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}&gerencia={{ selected_gerencia|default_if_none:'' }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>


<script>
    function disponibilizarItem(id) {
        fetch(`{% url 'disponibilizar_item' 0 %}`.replace('0', id), {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                document.getElementById(`ativo-${id}`).innerHTML = '<i class="bi bi-x action-icon text-danger"></i>';
                document.getElementById(`desfazimento-${id}`).innerHTML = '<i class="bi bi-check2 action-icon green"></i>';
            } else {
                alert('Falha ao colocar o item à disposição.');
            }
        });
    }
</script>

{% endblock %}