<a class="nav-link text-light" href="{% url 'cadastrar_item' %}">Cadastrar_Material</a>
<a class="nav-link text-light" href="{% url 'listar_materiais' %}">Listar_Materiais</a>
<a class="nav-link text-light" href="{% url 'cadastrar_localizacao' %}">Cadastrar_localização</a>
<a class="nav-link text-light" href="{% url 'listar_localizacao' %}">Listar_localizaçoes</a>
<a class="nav-link text-light" href="{% url 'cadastrar' %}">Cadastrar_Usuario</a>
<a class="nav-link text-light" href="{% url 'listarUsuarios' %}">Listar_Usuario</a>


